
@model PagedList.IPagedList<Model.EF.Content>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý nội dung";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><b>Content list.</b></h1>
    <hr />
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("Index", "Content", FormMethod.Get))
        {
            <div class="form-group row">

                <div class="form-group">

                    <div>
                        <input type="text" class="form-control form-control-user" placeholder="Name..." value="@ViewBag.SearchString" name="searchString" />
                    </div>
                    <div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <button type="submit" class="btn btn-facebook btn-block">Search</button>
                        </div>
                    </div>

                </div>
            </div>

        }


        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>MetaTitle</th>
                        <th>Detail</th>
                        <th>CreateDate</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                     
                        <tr id="row_@item.ID">
                            <td>
                                <a href="/Admin/Content/Edit/@item.ID">Update</a>
                                |
                                @Ajax.ActionLink("Delete", "Delete",new {@id =item.ID}, new AjaxOptions
                           {
                               Confirm = "Do you want to delete this record?",
                               OnComplete = "$('#row_"+@item.ID+"').remove()",
                               HttpMethod="Delete"
                           })</td>

                            <td>@item.Name</td>
                            <td>@item.MetaTitle</td>
                            <td>@item.Detail</td>
                            <td>@item.CreateDate</td>
                        </tr>
                        }
                    </tbody>

            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searhString = @ViewBag.SearchString }))
        </div>
    </div>
</div>




